body{
    border-radius: 50%;
}

#content{
    cursor: move;
    -webkit-user-select: none;
    -webkit-app-region: drag;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
