
.time{
    position: absolute;
}
.time>*{
    display: inline-block;
    width: 15px;
    margin: 0;
} 
.dot{
    width: 5px;
}

.clock{
    position: absolute;
}

.clock>*{
    position: relative;
}